127.0.0.1    localhost
::1          ip6-localhost ip6-loopback

172.16.0.1   shima      shima
172.16.0.2   kagamihara kagamihara
172.16.0.3   oogaki     oogaki
172.16.0.4   inuyama    inuyama
172.16.0.5   saitou     saitou
